<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Enforce trailing slash for directories
  # If request is not a file, and doesn't end in slash, redirect to same url with slash
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_URI} !(.*)/$
  RewriteRule ^(.*)$ $1/ [L,R=301]

  # Custom 404
  ErrorDocument 404 /404.html
</IfModule>

<IfModule mod_headers.c>
  # 1 Year for media and static assets
  <FilesMatch "\.(ico|jpg|jpeg|png|gif|svg|webp|js|css|woff|woff2)$">
     Header set Cache-Control "max-age=31536000, public"
  </FilesMatch>
  
  # 1 Hour for HTML files
  <FilesMatch "\.(html|xml|json)$">
     Header set Cache-Control "max-age=3600, public"
  </FilesMatch>
</IfModule>
